.login{
  display: flex;
  background-color: #FFFFFF; 
}

.Login_Input{
  display: flex;
  flex-direction: column;
}

.Login_Inputtext{
  margin: 10px 5px 10px 5px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border-color: #DDDFE2;

}

.Login_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  margin-top: 10px;
  width: 50vw;
}

.Login_title{
  margin-bottom: 0vh;
  font-size: 10vh;
  color: #0A66C2;
}

.Login_desc{
  font-size: 4vh;
}

.Login_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  margin-top: 10px;
  width: 50vw;
}

.Login_Video1, .Login_Video2{
  width: 30vw;
  height: 50vh;
  padding: 5px;
}


.virtual_assistantImg {
  width: 30vh;
  margin-bottom: 30px;
}

.buttons_login {
  margin-bottom: 30px;
  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #D3D5D7;
  width: 25vw;
}

.login_button {
  font-size: 15px;
  font-weight: bold;
  background-color: #ffffff;
  cursor: pointer;
  margin: 10px 5px 10px 5px;
  border-radius: 5px;
  border-color: #0084ff;
  color: #0084ff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
}

.googleicon {
  width: 30px;
  margin-right: 10px;
}

.login_button:hover {
  background-color: #f0f0f0;
}

.app__signup{
  display: flex;
  flex-direction: column;

}

@media (max-width: 768px) {
  .login{
    display: inline;
    background-color: #F0F2F5;
  }
  .Login_left{
    width: 90vw;
  }
  .Login_right{
    width: 90vw;
  }
  .buttons_login {
    width: 75vw;
  }
  .Login_Video1, .Login_Video2{
    width: 100%;
  }    
}
  