  .image-container {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 27vw; 
    height: 54vw; 
    cursor: pointer;
    margin: 3vw;
  }
  
  .OL_IMG_Q {
    position: absolute;
    bottom: -100%;
    right: 0; 
    width: 100%;
    animation: slideIn 0.75s forwards; 
  }
  
  @keyframes slideIn {
    to {
      bottom: -8vh; 
    }
  }

  @media (max-width: 768px) {
    .image-container {
      overflow: hidden;
      position: fixed;
      top: 0;
      right: 0;
      width: 50vw; 
      height: 50vw; 
      cursor: pointer;
    }
    
    .OL_IMG_Q {
      position: absolute;
      bottom: -100%;
      right: 0; 
      width: 75%; 
      animation: slideIn 0.75s forwards; 
    }

  }

  .OL_IMG_Q:hover{
    transform: scale(1.1);
  }